.main-column-66 {
  display: inline-block;
  width: 66%;
}

.sidebar-column-33 {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  margin-left: 2%;
  outline:0;
  padding:0;
  border:0;
}

.main-column-66 > div,
.sidebar-column-33 > div,
.sidebar-column-33 > form {
  border: solid 1px #CCC;
  padding: 10px;
  margin-bottom: 15px;
}

.main-column-66 div.form-type-textfield input,
.sidebar-column-33 div.form-type-textfield input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.sidebar-column-33 div.form-type-select select{
  width: 100%;
  height: 24px;
  line-height: 24px;
}

@media screen and (max-width: 960px) {
  .main-column-66 {
    width: 100%;
  }
  .sidebar-column-33 {
    width: 100%;
  }
}
