/******** TEXT ************************************************************** */

.sooper-dooper-big-heading {
  font-size: 3em;
}

/******** REGIONS *********************************************************** */

.main-top-region,
.sidebar-second-region,
.main-content-region {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.main-top-region {
  display: block;
}

.main-content-region {
  display: inline-block;
}

.main-content-region.sidebar-second {
  width: auto;
}

.sidebar-second-region {
  width: 260px;
}

/******** MEDIA QUERIES ***************************************************** */

@media screen and (min-width: 1200px) {
   .main-content-region.sidebar-second {
    width: 66%;
  }
  .sidebar-second-region {
    width: 33%;
  }
}

@media screen and (max-width: 1200px) {
   .main-content-region.sidebar-second {
    width: 555px;
  }
}

@media screen and (max-width: 900px) {
   .main-content-region.sidebar-second {
    width: 100%;
  }
  .sidebar-second-region {
    width: 100%;
  }
}
